# Binaries
**/bin/
**/bin-int/

# cmake output thingy

out/

# ImGui config files
**.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

CMakeSettings.json
